// Windows resources: icon and version info shown in Explorer / Task Manager.
#include <winver.h>

IDI_ICON1 ICON "tabletennis.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040C04B0"
    BEGIN
      VALUE "FileDescription", "Rockstar Table Tennis"
      VALUE "ProductName", "Rockstar Table Tennis (PC)"
      VALUE "FileVersion", "1.0.0"
      VALUE "ProductVersion", "1.0.0"
      VALUE "OriginalFilename", "Rockstar Table Tennis.exe"
      VALUE "Comments", "Recompilation statique avec ReXGlue"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x040C, 1200
  END
END
